body {
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    background-color: #333;
    margin: 0;
    padding: 0;
    display: block;
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Adicione essa propriedade para centralizar o formulário */
    height: 60vh;
    /* Adicione essa propriedade para definir a altura do formulário como a altura da viewport */
}

label {
    font-size: 1.5em;
    margin: 1em 0;
}

input[type=text] {
    font-size: 1.5em;
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    display: block;
    /* Adicione essa propriedade para exibir a caixa de texto */
    margin-bottom: 1em;
    /* Adicione essa propriedade para adicionar espaço abaixo do campo de entrada */
}

input[type=submit] {
    font-size: 1.5em;
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    display: block;
    background-color: grey;
    color: #fff;
    margin: 1em 0;
}

input[type=submit]:hover {
    background-color: #555;
}

#weather-info {
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}

#city {
    display: block;
    /* Adicione essa propriedade para tornar o campo de entrada visível */
    margin-bottom: 1em;
    /* Adicione essa propriedade para adicionar espaço abaixo do campo de entrada */
}